<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createGame">Add Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showAllGame">show All Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showFavoriteGame">My Favorite</a>
          </li>
          <li class="nav-item">
              <a href="/users/logout" class="nav-link">Logout</a>
          </li>
        </ul>
        
      </div>
    </nav>


<h1 class="mt-4">Game</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<% include ./partials/messages %>


<table class="table table-hover">
       
    <thead>
      <tr>
        <th scope="col">gameName</th>
        <th scope="col">gameDetail</th>
        <th scope="col">gameProducer</th>
        <th scope="col">company</th>
        <th scope="col">ignScore</th>
        
        <th scope="col">userEvaluation</th>
        <th scope="col">userScore</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
   
    <tbody>
            <% games.forEach(function (game) { %>
    
                
            
            <tr class="table-danger">
                <td> <%= game.gameName %></td>
                <td><%= game.gameDetail %></td>
                <td><%= game.gameProducer %></td>
                <td><%= game.company %></td>
                <td><%= game.ignScore %></td>
                
                <td><%= game.userEvaluation %></td>
                <td><%= game.userScore %></td>
                
                <td><form action="" method="POST">
                    
                    <input type="hidden" id="gameName" name="gameName"  value=<%= game.gameName %>>
                    <input type="hidden" id="gameDetail" name="gameDetail"  value=<%= game.gameDetail %>>
                    <input type="hidden" id="gameProducer" name="gameProducer"  value=<%= game.gameProducer %>>
                    <input type="hidden" id="company" name="company"  value=<%= game.company %>>
                    <input type="hidden" id="ignScore" name="ignScore"  value=<%= game.ignScore %>>
                    <input type="hidden" id="userID" name="userID"  value=<%= game.userID %>>
                    <input type="hidden" id="userEvaluation" name="userEvaluation"  value=<%= game.userEvaluation %>>
                    <input type="hidden" id="userScore" name="userScore"  value=<%= game.userScore %>>
                    <input type="hidden" id="gameuID" name="gameuID"  value=<%= game._id %>>
                    <input type="submit" value="update" />
                </form></td>
                <td><form action="/deleteFavorite" method="POST">
                  <input type="hidden" id="gameID" name="gameID"  value=<%= game._id %>>
                  <input type="submit" value="delete" />
              </form></td>

              
            </tr>
            <% }) %>
    </tbody>
</table> 








