<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createGame">Add Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/showAllGame">show All Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/showFavoriteGame">My Favorite</a>
        </li>
        <li class="nav-item">
            <a href="/users/logout" class="nav-link">Logout</a>
        </li>
      </ul>
      
    </div>
    </nav>


<h1 class="mt-4">Game</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<form action="/updateFavoriteInfo" method="POST" id="myform">
  
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext" id="userID" name="userID" value=<%= game.userID %>>
        <input type="hidden" id="gameuID" name="gameuID"  value=<%= uid %>>
      </div>
    </div>
    
    <div class="form-group">
      <label for="gameName">Game Name(readonly)</label>
      <input type="text" readonly=""  class="form-control" id="gameName" name="gameName"   placeholder="Enter name" required value=<%= game.gameName %>>
      
    </div>
    <div class="form-group">
      <label for="gameDetail">Game Detail(readonly)</label>
      <input type="text" readonly=""  class="form-control" id="gameDetail" name="gameDetail" placeholder="enter detail" required value=<%= game.gameDetail %>>
    </div>
    <div class="form-group">
      <label for="gameDetail">Game Producer(readonly)</label>
      <input type="text" readonly=""  class="form-control" id="gameProducer" name="gameProducer" placeholder="enter Producer Name" required value=<%= game.gameProducer %>>
    </div>
    <div class="form-group">
      <label for="gameDetail">Company of the game(readonly)</label>
      <input type="text"readonly=""  class="form-control" id="company" name="company" placeholder="enter Company Name" required value=<%= game.company %>>
    </div>
    <div class="form-group">
      <label for="gameDetail">IGN Score(readonly)</label>
      <input type="number"readonly=""  class="form-control" id="ignScore" name="ignScore" placeholder="enter IGN Score" min="1" max="10" required value=<%= game.ignScore %>>
    </div>

    <div class="form-group">
        <label for="gameDetail">Evaluation</label>
        <input type="text" class="form-control" id="userEvaluation" name="userEvaluation" placeholder="enter Evaluation"  required value=<%= game.userEvaluation %>>
    </div>
    <div class="form-group">
        <label for="gameDetail">User Score</label>
        <input type="number" class="form-control" id="userScore" name="userScore" placeholder="enter user Score(1-5)" min="1" max="5" required value=<%= game.userScore %>>
    </div>
    
    
    </fieldset>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </fieldset>
</form>

<script>
  $('#myform').submit(function(e){
     
    alert("Success to Update!"); 
 });
 </script>









